build: off

environment:
  matrix:
    - nodejs_version: '14'
    - nodejs_version: '12'
    - nodejs_version: '10'

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node test | tap-xunit | tee test-results.xml

after_test:
  - ps: |
      $wc = New-Object 'System.Net.WebClient'
      $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\test-results.xml))
      Push-AppveyorArtifact (Resolve-Path '.\test-results.xml')
